<%= form_with model: @book_note do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author, "著者" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :status, "読書状況" %>
    <%= form.select :status, BookNote.statuses.keys.map { |k| [I18n.t("enums.book_note.status.#{k}"), k] } %>
  </div>

  <div>
    <%= form.label :begin_date, "開始日" %>
    <%= form.date_field :begin_date %>
  </div>

  <div>
    <%= form.label :end_date, "終了日" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :content, "感想" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "保存" %>
  </div>
<% end %>

<%= link_to "トップへ", book_notes_path %>